:root{
    --red-primary-color:  #D32627;
    --gray-background-color: #f5f5f5;
    --main-font-color: rgb(78, 78, 78);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--gray-background-color);
}

body .container-fluid{
    padding: 0;
}

section{
    margin: 5rem 0;
}

.redLine{
    height: 0.25rem;
    background-color: var(--red-primary-color);
}


.titleDefault{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color:var(--main-font-color);
    margin-bottom: 1.25rem;
}


/* SEÇÃO HEADER COM IMAGEM PRINCIPAL */
.imageMainTop{
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    background-image: url(../images/backgroud-header.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 2.5rem;
}

.cardOne,
.cardTwo{
    flex-direction: column;
    background-color: var(--red-primary-color);
    width: 200px;
    transform: skew(-18deg);
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;  
}

.cardOne p,
.cardTwo p{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 0;
}

.cardOne{
    margin-top: 2.55rem;
    margin-left: 7%;
}

.cardTwo{
    margin-bottom: 5rem;
    margin-left: 75%;
}

/* SEÇÃO SOBRE NÓS */
.colAboutUs{
    text-align: right;
}

#aboutUs .titleDefault{
    text-align: right;
}


.colAboutUsImg img{
    border-radius: 15px;
}


/*SEÇÃO CLIENTES*/
#clients .container .row .col{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SEÇÃO DEPOIMENTOS */
.slick-initialized .slick-slide {
    display: flex;
}

.testimonial{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.testimonial p{
    width: 70%;
    text-align: left;
}

.testimonialImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('../images/depoimentos/gabriel.jpg');
    background-position: center;
    box-sizing: border-box;
}


/* FORMULÁRIO DE CONTATO */
#contact h2{
    font-size: 24px;
    color: #525252;
    text-align: center;
}

.formContact{
    max-width: 700px;
    margin: 0 auto;
}

/* TAMANHO MINIMO VERSÃO DESKTOP */
@media screen and (min-width: 991px){

    /*------------- NAVBAR SECTION -------------*/
    .nav-item{
        background-color: var(--red-primary-color);
        transform: skew(-18deg);
        margin-left: 0.25rem;
        font-weight: 700;
        transition: background-color 0.8s;
    }

    .nav-item:hover{
        background-color: var(--gray-background-color);
    }

    .navbar-nav .nav-item .nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        color: #ffffff;
        transition: background-color 0.8s;
    }

    .navbar-nav .nav-item .nav-link:hover{
        color: var(--red-primary-color);
    }
}

/* VERSÃO TELA NOTEBOOK PELO MENOS 1200PX */
@media screen and (min-width:1200px){
    /* AUMENTA UM POUCO A LARGURA DOS BOTÕES DO MENU - PARA FICAR MAIS HARMONIOSO*/
    .nav-link{
        width: 8.5rem;
    }
}


/* VERSÃO TELA DESKTOP PELO MENOS 1400PX*/
@media screen and (min-width:1400px){
    /* AUMENTA A ALTURA DA IMG PRINCIPAL*/
    .imageMainTop{
        height: 500px;
    }

    /* AUMENTA A LARGURA DO BOTÃO DO MENU*/
    .nav-link{
        width: 10rem;
    }
}

/* VERSÃO DESKTOP ATÉ 990PX  - TELAS PEQUENAS E QUADRADAS*/
@media screen and (max-width: 990px){
    .nav-item{
        background-color: var(--gray-background-color);
        margin-left: 0.25rem;
    }

    .navbar-nav .nav-item .nav-link{
        margin-left: 0.5rem;
        color: var(--red-primary-color);
        font-weight: 500;
    }

     .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(211, 38, 39, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

     .navbar-toggler{
        border-color: var(--red-primary-color);
    }

    .imageMainTop{
        margin-top: 2rem;
        height: 300px;
    }

    .cardOne,
    .cardTwo{
        width: 130px;
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
        font-size: 16px;
    }

    .cardOne{
        margin-top: -1rem;
        margin-left: 7%;
    }

    .cardTwo{
        margin-bottom: -1rem;
    }
}

@media screen and (max-width:760px){
     .navbar-brand {
        width: 70%;
    }

     .navbar-brand img{
        width: 100%;
    }


    .cardOne,
    .cardTwo{
        display: none;
    }

    .imageMainTop{
        margin: 0.5rem auto 2rem auto;
        height: 175px;
        background-image: url(../images/backgroud-header-mobile.jpg);
    }

    .colAboutUs{
        padding: 0 2rem;
        text-align: center;
    }
    
    .colAboutUsImg{
        display: flex;
        justify-content: center;
    }

    .colAboutUsImg img{
        width: 330px;
        height: 247.47px;
    }

    #aboutUs .titleDefault{
        text-align: center;
    }

    #clients img{
        margin-top: 50px;
    }

    .testimonial{
        flex-direction: column;
    }

    .testimonial p{
        width: 90%;
        margin-top: 25px;
        text-align: center;
    }

    .formContact{
        padding: 0 2rem;
    }
}